* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	background: rgb(236, 233, 233);
}

#content{
	width: 1300px;
	margin: 0 auto;
	overflow: hidden;
}

#content #title{
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
}

#content #news1{
	width: 500px;
	height: 750px;
	background: #ffffff;
  margin-bottom: 20px;
	margin-right: 10px;
	overflow: hidden;
	float: left;
}

#content #news1 img{
	width: 500px;
  float: left;
  margin-right: 5px;
	margin-bottom: 5px;
}

#content #news1 a{
	text-decoration: none;
}

#content #news1 h1{
	margin: 10px;
}

#content #news1 p{
	font-size: 26px;
	margin: 15px;
	text-align: justify;
}

/* news2 */
#content #news2{
	width: 250px;
	height: 350px;
	background: #ffffff;
  margin-bottom: 5px;
	margin-right: 15px;
	overflow: hidden;
	float: left;
}

#content #news2 img{
	width: 250px;
  float: left;
  margin-right: 5px;
	margin-bottom: 5px;
}

#content #news2 a{
	text-decoration: none;
	font-size: 15px;
}

#content #news2 h1{
	margin: 10px;
}

#content #news2 p{
	font-size: 12px;
	margin: 10px;
	text-align: justify;
}

/* news3 */
#content #news3{
	width: 250px;
	height: 350px;
	background: #ffffff;
  margin-bottom: 20px;
	margin-right: 15px;
	overflow: hidden;
	float: left;
}

#content #news3 img{
	width: 250px;
  float: left;
  margin-right: 5px;
	margin-bottom: 5px;
}

#content #news3 a{
	text-decoration: none;
	font-size: 15px;
}

#content #news3 h1{
	margin: 10px;
}

#content #news3 p{
	font-size: 12px;
	margin: 10px;
	text-align: justify;
}

/* news4 */
#content #news4{
	width: 250px;
	height: 350px;
	background: #ffffff;
  margin-bottom: 20px;
	margin-right: 10px;
	overflow: hidden;
	float: right;
}

#content #news4 img{
	width: 250px;
  float: left;
  margin-right: 5px;
	margin-bottom: 5px;
}

#content #news4 a{
	text-decoration: none;
	font-size: 15px;
}

#content #news4 h1{
	margin: 10px;
}

#content #news4 p{
	font-size: 12px;
	margin: 10px;
	text-align: justify;
}

/* news5 */
#content #news5{
	width: 780px;
	height: 380px;
	background: #ffffff;
  margin-bottom: 20px;
	margin-right: 10px;
	overflow: hidden;
	float: right;
}

#content #news5 img{
	width: 500px;
  float: left;
  margin-right: 5px;
	margin-bottom: 5px;
}

#content #news5 a{
	text-decoration: none;
	font-size: 20px;
}

#content #news5 h1{
	margin: 10px;
}

#content #news5 p{
	font-size: 20px;
	margin: 10px;
	text-align: justify;
}
